#header-hero {
    width: 100%;
    height: 695px;
    border-radius: 0px 0px 40px 40px;
    background: var(
        --Linear,
        linear-gradient(103deg, #fceed5 6.43%, #fceed5 78.33%, #ffe7ba 104.24%)
    );
}
