#useful-pet-knowledge {
    margin-top: 60px;

    .bottom-btn {
        display: none;
        width: 100%;
    }

    .site-useful__title {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 28px;
    }
    .useful-cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }

    .useful-card {
        display: inline-flex;
        padding: 8px;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        border-radius: 12px;
        background: $light;
        box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.08);

        img {
            width: 400px;
        }

        transition: 0.6s;
        cursor: pointer;

        &:hover {
            transform: translate(10px, -10px);
        }
    }

    .body10-bold {
        display: inline-flex;
        padding: 2px 10px;
        align-items: flex-start;
        gap: 10px;
        border-radius: 28px;
        background: $state-color-blue-sea;
    }

    .useful-card-info {
        display: flex;
        padding: 8px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
}

@media only screen and (max-width: 1200px) {
    #useful-pet-knowledge {
        .useful-cards {
            grid-template-columns: 1fr;
        }

        .useful-card {
            width: 400px;

            margin: 0 auto;
        }

        .useful-card:nth-child(2),
        .useful-card:nth-child(3) {
            display: none;
        }
    }
}

@media only screen and (max-width: 754px) {
    #useful-pet-knowledge {
        .useful-cards {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            gap: 12px;
        }

        .useful-card:nth-child(2),
        .useful-card:nth-child(3) {
            display: inline-flex;
        }

        .useful-card {
            width: 100%;
        }

        .top-btn {
            display: none;
        }

        .bottom-btn {
            margin-top: 20px;
            display: flex;
        }
    }
}
